/* font-family: "Roboto Mono", monospace; */

/* NORMALIZACION: el asterisco (*) para seleccionar todo y hacer como un reseteo de algunas caract */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y alto a pesar de padding y border */
    font-family: 'Roboto Mono', monospace;
    list-style: none; /*quitar los puntos y decoracion de las listar */
    text-decoration: none; /*esto quita el subrayado de los enlaces*/
    color: white;
}

body {
    background-color: black; /* TODO: borrar cuando tengamos el fondo final*/
}

header{
    position: fixed; /*esto ahce que el header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100; /*esto hace que el header se muestre por encima*/
    width: 100%; /*para que ocupe todo el ancho de la parte de arriba*/
    display: flex; /*esto hara que los elementos se pongan en linea*/
    align-items: center; /*centra verticalmente*/
    justify-content: space-between; /*que los elementos se separen*/
    padding: 15px 3%;
    background-color: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 800; /*este es el grueso de las letras*/
}

.navlist {
    display: flex; /*esto sirve para que los elementos de la lista UL se pongan en linea*/
}

.navlist a {
    margin-left: 60px; /*es para separar las palabras*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /*este es un subrayado transparente*/
    transition: all .5s ease; /*esto es para animar todas las caract del .navlist a*/
}

.navlist a:hover {
    border-bottom: 2px solid white; /*este es un subrayado que aparecera cuando estemos por encima con el mouse*/
}

/* #menu-icon {
    display: none; esto lo pongo en none para que solo se vea cuando la pag este colapsada de forma horiz
}*/

#menu-icon {
    font-size: 35px;
    z-index: 101; /* para que este sobre el header*/
    cursor: pointer; /*para que aparezca la manito cuando ponemos el mouse por encima*/
    display: block;
}

#menu-toggle{
    display: none; /*nunca quiero que se vea el checkbox*/
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #386e86 25%, #131313 75%); /*fondo de color gradiente*/
    position: relative; /*para que sea relativo el contenedor (nos permite usar top, bottom, left. right) */
    display: grid; /*para que el hero se pueda dividir en dos columnas*/
    grid-template-columns: 1fr 1fr; /*las 2 columnas*/
    align-items: center; /*para alinear verticalmente el hero*/
    gap: 2rem; /*haya espacio de 2 rem entre las dos columnas*/
}

section{
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 20px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 600px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear; /*esto hace que la transcicion sea lineal*/
}

.hero-img img:hover{
    width: 650px;
    opacity: 0.6;
}

.hero-text a {
    display: inline-block; /*va a permitir qe se le peuda dar un ancho y un alto*/
    background-color: #31494e;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px); /*se mueve en el eje x vertical*/
}

.hero-text a.videos {
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.videos i{
    vertical-align: middle; /*se centre hacia al medio si se alinea verticalmente el icono de play >*/
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50vh; /*para que aparezcan a la mitad de lo que se ve*/
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block; /*para que cada uno ocupe la totalidad y se coloque uno abajo del otro*/
    margin: 15px;
    font-size: 25px;
    transition: all 0.5s ease;
}

.icons i:hover {
    color: #31494e;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #31494e;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}
/*aca vamos a ahcer mediaquieries para que la web sea responsive*/
@media (max-width:992px){
    section {
        padding: 0 3%;
        transition: 0.2s;
    }
    .hero-text{
        padding-top: 0;
    }
    .hero-text p{
        font-size: 70%;
    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){

    #menu.icon{
        display: block;
    }
    .hero-text {
        text-align: center;
        padding-top: 100px;
    }
    .hero-img img {
        margin: 0;
    }
    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #0430559f;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 15px;
        transition: all 0.6s ease;
    }
    .navlist a {
        display: block;
        margin: 7px 0;
    }
    .navlist.open {
        right: 0;
    }
}
